<form method="post" action="CreateEmployee">
    <div>
        EmployeeCode:<input type="text" id="EmpCode" name="EmpCode" />
    </div>

    <div>
        EmployeeName:<input type="text" id="EmpName" name="EmpName" />
    </div>

    <div>
        EmployeeAge:<input type="text" id="EmpAge" name="EmpAge" />
    </div>

    <div>
        <input type="submit" value="Create Employee" />
    </div>
</form>